.mainContent{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 16px;
}

.contentArea{
    width: 100%;
    max-width: 786px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media only screen and (max-width: 768px) {
    .mainContent{
        padding: 0 8px;
    }
}