/.venv
.env

# Python cache files and directories
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
frontend/__pycache__/
frontend/migrations/__pycache__/
users/__pycache__/
users/migrations/__pycache__/
magic_esim/__pycache__/
magic_esim/migrations/__pycache__/
billing/__pycache__/
billing/migrations/__pycache__/
esim/__pycache__/
esim/migrations/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo