{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo mb-3">
    <a href="/" class="app-brand-link" target="_blank">
      <span class="app-brand-logo demo">
        <img src="{% static 'img/logo.png' %}" alt="Magic eSIM logo" class="img-fluid" width="160" />
      </span>
    </a>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="bx bx-chevron-left bx-sm"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Store -->
    <li class="menu-item active">
      <a href="/dashboard" class="menu-link">
        <i class="menu-icon tf-icons bx bx-store"></i>
        <div class="text-truncate">Store</div>
      </a>
    </li>

    <!-- eSIMS -->
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-mobile"></i>
        <div class="text-truncate">eSIMs</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/esims" class="menu-link">
            <div class="text-truncate">My eSIMs</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/esims/purchase" class="menu-link">
            <div class="text-truncate">Purchase eSIM</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Virtual Numbers -->
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-phone"></i>
        <div class="text-truncate">Virtual Numbers</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/numbers" class="menu-link">
            <div class="text-truncate">My Numbers</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/numbers/purchase" class="menu-link">
            <div class="text-truncate">Get Number</div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
