{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" data-bg-class="bg-menu-theme">
  <div class="app-brand demo mb-3">
    <a href="/" class="app-brand-link" target="_blank">
      <span class="app-brand-logo demo">
        <img src="{% static 'img/logo.png' %}" alt="Magic eSIM logo" class="img-fluid" width="160" />
      </span>
    </a>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="bx bx-chevron-left bx-sm"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1 ps ps--active-y">
    <!-- Store -->
    <li class="menu-item {% if request.path == '/dashboard/' %}active{% endif %}">
      <a href="/dashboard" class="menu-link">
        <i class="menu-icon tf-icons bx bx-store"></i>
        <div class="text-truncate">Store</div>
      </a>
    </li>
    
    <!-- eSIMS -->
    <li class="menu-item {% if request.path == '/my_esims/' %}active{% endif %}">
      <a href="/my_esims" class="menu-link">
        <i class="menu-icon tf-icons bx bx-mobile"></i>
        <div class="text-truncate">My eSIMs</div>
      </a>
    </li>

    <!-- Virtual Numbers -->
    <li class="menu-item {% if request.path == '/numbers/' %}active{% endif %}">
      <a href="/numbers" class="menu-link">
        <i class="menu-icon tf-icons bx bx-phone-call"></i>
        <div class="text-truncate">Numbers</div>
      </a>
    </li>
    
    <!-- My Profile -->
    <li class="menu-item {% if request.path == '/profile/' %}active{% endif %}">
      <a href="/profile" class="menu-link">
        <i class="menu-icon tf-icons bx bx-phone-call"></i>
        <div class="text-truncate">My Profile</div>
      </a>
    </li>
    
  </ul>
</aside>
