{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/head.html' %}
    <title>Account Deletion</title>
</head>
<body>
    <div class="loginScreen">
        <div class="loginBox">
            <div class="formLogo">
                <a href="/"><img src="{% static 'new/assets/branding/preloader.webp' %}" alt=""></a>
            </div>
            <h1>Account Deletion</h1>
            {% if error %}
                <p>{{ error }}</p>
            {% elif message %}
                <p>{{ message }}</p>
            {% else %}
                <p>Your account has been deleted.</p>
            {% endif %}
            <p><a href="/">Return to Home</a></p>
        </div>
    </div>

    {% include 'partials/scripts.html' %}
</body>
</html>

