{% load static %}
<!DOCTYPE html>
<html lang="en" class="layout-navbar-fixed layout-compact light-style layout-menu-fixed" dir="ltr"
  data-theme="theme-default" data-assets-path="{% static '' %}" data-template="vertical-menu-template"
  data-style="light">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <title>Dashboard - Magic eSIM</title>

  {% include 'partials/head.html' %}

</head>

<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

      {% include 'partials/sidebar.html' %}

      <!-- Layout container -->
      <div class="layout-page">

        {% include 'partials/navbar.html' %}

        <!-- Content wrapper -->
        <div class="content-wrapper">
          <!-- Content -->
          <div class="container-xxl flex-grow-1 container-p-y">
            <section class="row p-4">
              <div class="col-12 col-md-6 col-lg-4 bg-gradient-info shadow rounded-5 p-5">
                <a href="javascript:;" data-location_code="GL-13"
                  class="d-flex justify-content-between py-2 align-items-center fw-bold text-white show-global-esims">
                  <span class="fs-4">
                    <img src="{% static 'img/illustrations/world_mobile_esim.png' %}" alt="world_mobile_esim" class="me-2 rounded" height="80px" />
                    Global (130+ areas)
                  </span>
                  <i class="bx bx-md bx-chevron-right"></i>
                </a>
              </div>
            </section>
            
            <!-- eSIMs -->
            <section class="mt-3">
              <span class="badge bg-label-primary mb-2">Magic eSIMs</span>
  
              <div class="nav-align-top mb-6">
                <ul class="nav nav-pills mb-4 gap-3" role="tablist">
                  <li class="nav-item mb-1 mb-sm-0" role="presentation">
                    <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                      data-bs-target="#navs-pills-justified-local" aria-controls="navs-pills-justified-local"
                      aria-selected="true"><i class="tf-icons bx bx-map me-2"></i>Local</button>
                  </li>
                  <li class="nav-item mb-1 mb-sm-0" role="presentation">
                    <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                      data-bs-target="#navs-pills-justified-regions" aria-controls="navs-pills-justified-regions"
                      aria-selected="false" tabindex="-1"><i class="tf-icons bx bx-world me-2"></i>Regions</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                      data-bs-target="#navs-pills-justified-global" aria-controls="navs-pills-justified-global"
                      aria-selected="false" tabindex="-1"><i class="tf-icons bx bx-globe me-2"></i> Global</button>
                  </li>
                </ul>
  
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="navs-pills-justified-local" role="tabpanel">
                    <!-- Country List -->
                    <div class="row g-5 text-center pt-3 pb-3" id="countries-list">
                      {% for country in countries %}
                      <div class="col-12 col-md-4 col-lg-3 country-item {% if not country.is_popular %}d-none{% endif %}"
                        data-popular="{{ country.is_popular }}">
                        <a href="javascript:;" data-location_code="{{ country.alpha_2 }}"
                          class="d-flex justify-content-between py-3 px-4 shadow rounded align-items-center fw-bold text-dark show-country-esims">
                          <span>
                            <img src="https://flagcdn.com/w320/{{ country.alpha_2|lower }}.png" alt="{{ country.name }}"
                              class="me-2 rounded" width="60px" height="40px" />
                            {{ country.name }}
                          </span>
                          <i class="bx bx-md bx-chevron-right"></i>
                        </a>
                      </div>
                      {% endfor %}
                      <div class="text-center">
                        <button id="toggle-countries-btn" class="btn btn-md rounded-pill btn-primary">Show 200+ Countries</button>
                      </div>
                    </div>
  
                    <!-- eSIM Plan Cards -->
                    <div class="row g-5 text-center pt-3 pb-3 d-none" id="esim-plan-cards">
                      <!-- Dynamically rendered eSIM plan cards will go here -->
                    </div>
                  </div>
  
                  <div class="tab-pane fade" id="navs-pills-justified-regions" role="tabpanel">
                    <div class="row g-5 text-center pt-3 pb-3" id="regions-list"> <!-- Added `g-3` for uniform spacing -->
                      <div class="col-12 col-md-6 col-lg-4">
                        <a href="javascript:;" data-location_code="AF"
                          class="d-flex justify-content-between py-3 px-4 shadow rounded align-items-center fw-bold text-dark show-region-esims">
                          <span>
                            <img src="{% static 'img/regions/af.png' %}" alt="Africa" class="me-2 rounded" width="50px" />
                            Africa
                          </span>
                          <i class="bx bx-md bx-chevron-right"></i>
                        </a>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <a href="javascript:;" data-location_code="AS"
                          class="d-flex justify-content-between py-3 px-4 shadow rounded align-items-center fw-bold text-dark show-region-esims">
                          <span>
                            <img src="{% static 'img/regions/as.png' %}" alt="Asia" class="me-2 rounded" width="50px" />
                            Asia
                          </span>
                          <i class="bx bx-md bx-chevron-right"></i>
                        </a>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <a href="javascript:;" data-location_code="EU"
                          class="d-flex justify-content-between py-3 px-4 shadow rounded align-items-center fw-bold text-dark show-region-esims">
                          <span>
                            <img src="{% static 'img/regions/eu.png' %}" alt="Europe" class="me-2 rounded" width="50px" />
                            Europe
                          </span>
                          <i class="bx bx-md bx-chevron-right"></i>
                        </a>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <a href="javascript:;" data-location_code="NA"
                          class="d-flex justify-content-between py-3 px-4 shadow rounded align-items-center fw-bold text-dark show-region-esims">
                          <span>
                            <img src="{% static 'img/regions/na.png' %}" alt="North America" class="me-2 rounded"
                              width="50px" />
                            North America
                          </span>
                          <i class="bx bx-md bx-chevron-right"></i>
                        </a>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <a href="javascript:;" data-location_code="SA"
                          class="d-flex justify-content-between py-3 px-4 shadow rounded align-items-center fw-bold text-dark show-region-esims">
                          <span>
                            <img src="{% static 'img/regions/sa.png' %}" alt="South America" class="me-2 rounded"
                              width="50px" />
                            South America
                          </span>
                          <i class="bx bx-md bx-chevron-right"></i>
                        </a>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <a href="javascript:;" data-location_code="CA"
                          class="d-flex justify-content-between py-3 px-4 shadow rounded align-items-center fw-bold text-dark show-region-esims">
                          <span>
                            <img src="{% static 'img/regions/cb.png' %}" alt="Caribbean" class="me-2 rounded"
                              width="50px" />
                            Caribbean
                          </span>
                          <i class="bx bx-md bx-chevron-right"></i>
                        </a>
                      </div>
                    </div>
  
                    <!-- eSIM Region Plan Cards -->
                    <div class="row g-5 text-center pt-3 pb-3 d-none" id="esim-region-cards">
                      <!-- Dynamically rendered eSIM plan cards will go here -->
                    </div>
                  </div>
  
                  <div class="tab-pane fade" id="navs-pills-justified-global" role="tabpanel">
                    <div class="row g-5 text-center pt-3 pb-3" id="global-list"> <!-- Added `g-3` for uniform spacing -->
                      <div class="col-12 col-md-6 col-lg-4">
                        <a href="javascript:;" data-location_code="GL-12"
                          class="d-flex justify-content-between py-3 px-4 shadow rounded align-items-center fw-bold text-dark show-global-esims">
                          <span>
                            <img src="{% static 'img/regions/as.png' %}" alt="Asia" class="me-2 rounded" width="50px" />
                            Global (120+ areas)
                          </span>
                          <i class="bx bx-md bx-chevron-right"></i>
                        </a>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <a href="javascript:;" data-location_code="GL-13"
                          class="d-flex justify-content-between py-3 px-4 shadow rounded align-items-center fw-bold text-dark show-global-esims">
                          <span>
                            <img src="{% static 'img/regions/as.png' %}" alt="Asia" class="me-2 rounded" width="50px" />
                            Global (130+ areas)
                          </span>
                          <i class="bx bx-md bx-chevron-right"></i>
                        </a>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                        <a href="javascript:;" data-location_code="GL-14"
                          class="d-flex justify-content-between py-3 px-4 shadow rounded align-items-center fw-bold text-dark show-global-esims">
                          <span>
                            <img src="{% static 'img/regions/as.png' %}" alt="Asia" class="me-2 rounded" width="50px" />
                            Global (140+ areas)
                          </span>
                          <i class="bx bx-md bx-chevron-right"></i>
                        </a>
                      </div>
                    </div>
  
                    <!-- eSIM Global Plan Cards -->
                    <div class="row g-5 text-center pt-3 pb-3 d-none" id="esim-global-cards">
                      <!-- Dynamically rendered eSIM plan cards will go here -->
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <hr class="py-5">
            <hr>

            <!-- Virtual Numbers -->
            <section class="mt-5">
              <span class="badge bg-label-primary mb-2">Virtual Numbers</span>
  
              <div class="nav-align-top mb-5">
                <ul class="nav nav-pills mb-4 gap-3" role="tablist">
                  <li class="nav-item mb-1 mb-sm-0" role="presentation">
                    <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                      data-bs-target="#navs-pills-justified-countries" aria-controls="navs-pills-justified-countries"
                      aria-selected="true"><i class="tf-icons bx bx-map me-2"></i>Numbers for Countries</button>
                  </li>
                  <li class="nav-item mb-1 mb-sm-0" role="presentation">
                    <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                      data-bs-target="#navs-pills-justified-services" aria-controls="navs-pills-justified-services"
                      aria-selected="false" tabindex="-1"><i class="tf-icons bx bx-message-rounded me-2"></i>Numbers for Services</button>
                  </li>
                </ul>
      
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="navs-pills-justified-countries" role="tabpanel">
                    <div class="row g-5 text-center pt-3 pb-3">
                      {% for country in countries %}
                      <div class="col-12 col-md-4 col-lg-3 country-item {% if not country.is_popular %}d-none{% endif %}"
                        data-popular="{{ country.is_popular }}">
                        <a href="javascript:;"
                          class="d-flex justify-content-between py-3 px-4 shadow rounded align-items-center fw-bold text-dark">
                          <span>
                            <img src="https://flagcdn.com/w320/{{ country.alpha_2|lower }}.png" alt="{{ country.name }}"
                              class="me-2 rounded" width="60px" height="40px" />
                            {{ country.name }}
                          </span>
                          <i class="bx bx-md bx-chevron-right"></i>
                        </a>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
      
                  <div class="tab-pane fade" id="navs-pills-justified-services" role="tabpanel">
                    <div class="row justify-content-center">
                      <form class="col-12 col-md-6">
                        <div class="row g-4">
                          <div class="col-md-6">
                            <label class="form-label" for="fullname">Full Name</label>
                            <input type="text" class="form-control" name="fullname" placeholder="Fisrt & Last name" />
                          </div>
                          <div class="col-md-6">
                            <label class="form-label" for="email">Email</label>
                            <input type="email" name="email" class="form-control"
                              placeholder="name@domain.com" />
                          </div>
                          <div class="col-12">
                            <label class="form-label" for="nationality">Nationality:</label>
                            <input type="text" name="nationality" class="form-control"
                              placeholder="Kenyan" />
                          </div>
                          <div class="col-12">
                            <label class="form-label" for="purpose">Purpose/Service:</label>
                            <textarea name="purpose" class="form-control" rows="3"
                            placeholder="Write your purpose/service for the virtual number here"></textarea>
                          </div>
                          <div class="col-12">
                            <label class="form-label" for="service_country">Service Country</label>
                            <input type="text" name="service_country" class="form-control"
                              placeholder="United Kingdom" />
                          </div>
                          <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <!-- / Content -->

          {% include 'partials/footer.html' %}

          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
  </div>
  <!-- / Layout wrapper -->

  {% include 'partials/scripts.html' %}

  <!-- Page JS -->
  <script src="{% static 'js/dashboards-analytics.js' %}"></script>
</body>

</html>