{% load static %}
<!DOCTYPE html>
<html lang="en" class="layout-navbar-fixed layout-compact light-style layout-menu-fixed" dir="ltr"
  data-theme="theme-default" data-assets-path="{% static '' %}" data-template="vertical-menu-template"
  data-style="light">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <title>My Orders - Magic eSIM</title>

  {% include 'partials/head.html' %}

</head>

<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

      {% include 'partials/sidebar.html' %}

      <!-- Layout container -->
      <div class="layout-page">

        {% include 'partials/navbar.html' %}

        <!-- Content wrapper -->
        <div class="content-wrapper">
          <!-- Content -->
          <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Dashboard /</span> My eSIMs</h4>
            <div class="row gx-5 gy-2">
              <div class="col-lg-4 col-md-6 col-12">
                <div class="card mb-4 shadow rounded-5 border border-primary border-1">
                  <div class="card-body p-4">
                    <div class="d-flex flex-column justify-content-between p-4 rounded-4 mb-4 text-dark fw-bold"
                      style="overflow: hidden; height: 200px; background: linear-gradient(to right, #BB1600 30%, #ffaba0 30%);">
                      <span class="d-flex align-items-center"> 
                        <img class="me-2 rounded" src="https://flagcdn.com/w320/gb.png" height="30px" width="45px">
                        <span class="">United Kingdom</span>
                      </span>
                      <span> 
                        <span class="fs-4 fw-bolder mb-1 me-2">750 MB</span> 
                        <span>Left for 2 days</span>
                      </span>
                    </div>
                    <a href="#" class="btn btn-primary w-100 rounded-5 ">Buy more data</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- / Content -->

          {% include 'partials/footer.html' %}

          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
  </div>
  <!-- / Layout wrapper -->

  {% include 'partials/scripts.html' %}

  <!-- Page JS -->
  <script src="{% static 'backend/esims.js' %}"></script>
</body>

</html>