{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'partials/head.html' %}

    <!-- WEBSITE TITLE -->
    <title>Magic eSIM - Login</title>
    
    <link rel="stylesheet" href="{% static 'new/css/login.css' %}">

    <!-- Google Sign-In API library -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>

</head>

<body>

    <div class="loginScreen">

        <div class="loginBox">
            <div class="formLogo">
                <a href="/"><img src="{% static 'new/assets/branding/preloader.webp' %}" alt=""></a>
            </div>
            <h1>Welcome back</h1>
            <p>Create account and enjoy latest eSIM bundles!</p>

            <!-- FORM ALERT -->
            <h2 class="formAlert d-none">*<span>Form alert statement shown here!</span>*</h2>


            <div class="continueWithBox">
                <!-- Login with Google Popup and Button -->
                <div id="g_id_onload"
                    data-client_id="884642432826-res4polj0nqrf17vj9odug6m4ockict6.apps.googleusercontent.com"
                    data-context="signin"
                    data-ux_mode="popup"
                    data-callback="handleCredentialResponse"
                    data-auto_select="true"
                    data-itp_support="true">
                </div>

                <div class="g_id_signin"
                    data-type="standard"
                    data-shape="pill"
                    data-theme="filled_blue"
                    data-text="continue_with"
                    data-size="large"
                    data-logo_alignment="left"
                    data-width="100%">
                </div>
                <!-- End of Google login -->
            </div>
            <hr class="formLine">

            <form id="signInForm" class="signInForm">
                <div class="oneInput">
                    <label for="email">E-mail <span>*</span></label>
                    <input type="email" name="email" placeholder="abc@example.com" required>
                </div>
                <div class="oneInput">
                    <label for="password">Password <span>*</span></label>
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="rememberAndForget">
                    <div class="rememberMe">
                        <label class="checkbox" for="rememberMe">
                            <input type="checkbox" name="rememberMe" id="rememberMe">
                            <span class="checkmark"></span>
                            Remember me
                        </label>
                    </div>
                    <div class="forgetPass">
                        <a href="/reset-password">Forget password?</a>
                    </div>
                </div>
                <button type="submit" class="submitBtn">Login</button>
            </form>
        </div>

        <p class="notRegisteredYet">Not registered yet? <a href="/signup">Create an account</a></p>

    </div>

    {% include 'partials/scripts.html' %}
    <script src="{% static 'backend/auth.js' %}"></script>
    <script>
        function handleCredentialResponse(response) {            
            loader = $('.loading');
            loader.removeClass("d-none");

            $.ajax({
                url: '/api/auth/google/',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ id_token: response.credential }),
                success: function(data) {
                    if (data.status) {
                        window.location.href = '/dashboard';
                    } else {
                        $('.formAlert').removeClass('d-none').text(data.message);
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error during login:', error);
                    $('.formAlert').removeClass('d-none').text('An error occurred. Please try again.');
                },
                complete: function() {
                    loader.addClass("d-none");
                }
            });
        }
    </script>

</body>

</html>