{% load static %}

<!DOCTYPE html>
<html lang="en" class="layout-navbar-fixed layout-compact light-style layout-menu-fixed" dir="ltr"
  data-theme="theme-default" data-assets-path="{% static '' %}" data-template="vertical-menu-template"
  data-style="light">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Login - Magic eSIM</title>

  {% include 'partials/head.html' %}

  <!-- Page CSS -->
  <link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}" />

</head>

<body>
  <!-- Content -->

  <div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
          <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center mt-5">
              <a href="/" class="app-brand-link gap-2">
                <span class="app-brand-logo demo">
                  <img src="{% static 'img/logo.png' %}" alt="logo" class="img-fluid" width="160" 
                  data-app-light-img="logo.png"
                  data-app-dark-img="logo-dark.png" />
                </span>
              </a>
            </div>
            <!-- /Logo -->
            <div class="d-flex flex-column text-center">
              <h4 class="mb-2 fw-bold">Log In to eSIM Magic</h4>
              <p class="mb-4">Welcome back select method to login:</p>
              <div class="d-flex justify-content-center gap-4">
                <a href="#" class="btn btn-outline-light btn-sm px-5 py-2 rounded-pill">
                  <img src="{% static 'img/icons/brands/google.png' %}" alt="" class="img-fluid mx-3" width="20px" />
                </a>
                <a href="#" class="btn btn-outline-light btn-sm px-5 py-2 rounded-pill">
                  <img src="{% static 'img/icons/brands/facebook.png' %}" alt="" class="img-fluid mx-3" width="20px" />
                </a>
                <a href="#" class="btn btn-outline-light btn-sm px-5 py-2 rounded-pill">
                  <img src="{% static 'img/icons/brands/apple.png' %}" alt="" class="img-fluid mx-3" width="20px" />
                </a>
              </div>
            </div>

            <div class="divider_line">
              OR
            </div>

            <form id="signInForm" class="mb-3">
              <div class="mb-3">
                <input type="text" class="form-control form-control-lg rounded-pill" id="email" name="email"
                  placeholder="Email" autofocus />
              </div>
              <div class="my-5 form-password-toggle">
                <div class="input-group input-group-merge rounded-pill">
                  <input type="password" id="password" class="form-control form-control-lg" name="password"
                    placeholder="Password" aria-describedby="password" />
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
              </div>
              <div class="d-flex justify-content-between mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="remember-me" />
                  <label class="form-check-label" for="remember-me"> Remember Me </label>
                </div>
                <a href="/reset-password">
                  <small>Forgot Password?</small>
                </a>
              </div>
              <div class="mb-3">
                <button id="submitBtn" class="btn btn-lg btn-primary d-grid w-100 rounded-pill" type="submit">Log in</button>
              </div>
            </form>

            <p class="text-center mb-5">
              <span>New user?</span>
              <a href="/signup">
                <span>Create an account</span>
              </a>
            </p>
          </div>
        </div>
        <!-- /Register -->
      </div>
    </div>
  </div>

  <!-- / Content -->

  {% include 'partials/scripts.html' %}

  <!-- Page JS -->
  <script src="{% static 'backend/app.js' %}"></script>
  <script src="{% static 'backend/auth.js' %}"></script>

</body>

</html>