{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'partials/head.html' %}
    <!-- WEBSITE TITLE -->
    <title>Magic eSIM - Reset password</title>

    <!-- CSS FILES -->
    <link rel="stylesheet" href="{% static 'new/css/resetPassword.css' %}">

</head>

<body>

    <div class="loading d-none">
        <div class="loadingCircle"></div>
    </div>

    <div class="resetPassScreen">

        <div class="resetPassBox">
            <div class="formLogo">
                <a href="/"><img src="{% static 'new/assets/branding/preloader.webp' %}" alt=""></a>
            </div>
            <h1>Forget password?</h1>
            <p style="margin-bottom: 50px;">Don't worry we'll send you instructions to reset it.</p>
            
            <!-- FORM ALERT -->
            <h2 class="formAlert d-none">*<span>Form alert statement shown here!</span>*</h2>

            <form id="formAuthentication" class="resetPassForm">
                <div class="oneInput">
                    <label for="email">E-mail <span>*</span></label>
                    <input type="email" name="email" placeholder="Enter your account e-mail" required>
                </div>
                <button type="submit" class="submitBtn">Continue</button>
            </form>
        </div>

        <a href="/login" class="goBack"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m6 8l-4 4l4 4m-4-4h20"/></svg>&nbsp;&nbsp;Go back</a>

    </div>

    {% include 'partials/scripts.html' %}
    <script src="{% static 'backend/auth.js' %}"></script>

</body>

</html>