{% load static %}

<!DOCTYPE html>
<html lang="en" class="layout-navbar-fixed layout-compact light-style layout-menu-fixed" dir="ltr"
  data-theme="theme-default" data-assets-path="{% static '' %}" data-template="vertical-menu-template"
  data-style="light">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Reset Password - Magic eSIM</title>

  {% include 'partials/head.html' %}

  <!-- Page CSS -->
  <link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}" />

</head>

<body>
  <!-- Content -->

  <div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner py-4">
        <!-- Forgot Password -->
        <div class="card">
          <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center mt-5">
              <a href="/" class="app-brand-link gap-2">
                <span class="app-brand-logo demo">
                  <img src="{% static 'img/logo.png' %}" alt="logo" class="img-fluid" width="160" 
                  data-app-light-img="logo.png"
                  data-app-dark-img="logo-dark.png" />
                </span>
              </a>
            </div>
            <!-- /Logo -->
            <div class="d-flex flex-column text-center">
              <h4 class="mb-2 fw-bold">Forgot Password? 🔒</h4>
              <p class="mb-4">No worries,we will send you instructions for reset.</p>
            </div>

            <form id="formAuthentication" class="mb-3">
              <div class="mb-5">
                <input type="text" class="form-control form-control-lg rounded-pill" id="email" name="email"
                  placeholder="Enter your Email" autofocus />
              </div>
              <span class="divider"></span>
              <button class="btn btn-lg btn-primary d-grid w-100 rounded-pill" type="submit">Reset Password</button>
            </form>

            <div class="text-center mb-5">
              <a href="/login" class="d-flex align-items-center justify-content-center">
                <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                Back to login
              </a>
            </div>
          </div>
        </div>
        <!-- /Forgot Password -->
      </div>
    </div>
  </div>

  <!-- / Content -->

  {% include 'partials/scripts.html' %}

  <!-- Page JS -->
  <script src="{% static 'backend/app.js' %}"></script>
  <script src="{% static 'backend/auth.js' %}"></script>

</body>

</html>