{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'partials/head.html' %}
    <!-- WEBSITE TITLE -->
    <title>Magic eSIM - Sign up</title>

    <!-- CSS FILES -->
    <link rel="stylesheet" href="{% static 'new/css/signup.css' %}">
</head>

<body>

    <div class="loading d-none">
        <div class="loadingCircle"></div>
    </div>

    <div class="signUpScreen">

        <div class="signUpBox">
            <div class="formLogo">
                <a href="/"><img src="{% static 'new/assets/branding/preloader.webp' %}" alt=""></a>
            </div>
            <h1>Get registered in few steps</h1>
            <p>Create account and enjoy latest eSIM bundles!</p>
            
            <!-- FORM ALERT -->
            <h2 class="formAlert d-none">*<span>Form alert statement shown here!</span>*</h2>

            <form id="userAuth" class="signupForm">
                <div class="oneInput">
                    <label for="first_name">First name <span>*</span></label>
                    <input type="text" name="first_name" placeholder="John" required>
                </div>
                <div class="oneInput">
                    <label for="last_name">Second name <span>*</span></label>
                    <input type="text" name="last_name" placeholder="Doe" required>
                </div>
                <div class="oneInput emailInput">
                    <label for="email">E-mail <span>*</span></label>
                    <input type="email" name="email" placeholder="abc@example.com" required>
                </div>
                <div class="oneInput passInput">
                    <label for="password">Password <span>*</span></label>
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="oneInput refInput">
                    <label for="referral_code">Referral or Voucher (optional)</label>
                    <input type="text" name="referral_code" placeholder="123XYZ">
                </div>
                <button type="submit" class="submitBtn">Sign up</button>
            </form>
            <h3 class="agreeStatement">By clicking "Sign up", you agree to our <a href="">Privacy Policy</a> and <a href="">Terms of Service</a>.</h3>
        </div>

        <p class="alreadyHaveAccount">Already registered? <a href="/login">Login here</a></p>

    </div>

    {% include 'partials/scripts.html' %}
    <script src="{% static 'backend/auth.js' %}"></script>

</body>

</html>