<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FEVICON LINKS -->

    <!-- CSS FILES -->
    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./css/resetPassword.css">
    <!-- WEBSITE TITLE -->
    <title>Magic eSIM - Reset password</title>
    <!-- WEBSITE DESCRIPTION -->

    <!-- WEBSITE KEYWORDS -->

</head>

<body>

    <div class="resetPassScreen">

        <div class="resetPassBox">
            <div class="formLogo">
                <a href=""><img src="./assets/branding/preloader.webp" alt=""></a>
            </div>
            <h1>Forget password?</h1>
            <p>Don't worry we'll send you instructions to reset it.</p>
            
            <!-- FORM ALERT -->
            <h2 class="formAlert" style="visibility: hidden;">*<span>Form alert statement shown here!</span>*</h2>


            <form action="" class="resetPassForm">
                <div class="oneInput">
                    <label for="email">E-mail <span>*</span></label>
                    <input type="email" name="email" placeholder="Enter your account e-mail" required>
                </div>
                <button class="submitBtn">Continue</button>
            </form>
        </div>

        <a href="" class="goBack"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m6 8l-4 4l4 4m-4-4h20"/></svg>&nbsp;&nbsp;Go back</a>

    </div>

</body>

</html>